body {
    margin-left: 15%;
    margin-right: 15%;
    font-family: Avenir Next;
    color: #ffffff;
    background-color: #000000;
}

nav {
    font-size: 40%;
    color:#1d1922;
    background-color: #221d29;
    border-radius: 15px;
    padding: 12px;
    padding-left: 32px;
    padding-right: 32px;
    word-spacing: 26px;
}

a:link {
    color: #5b555e;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #5b555e;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #5b555e;
    background-color: transparent;
    text-decoration: none;
}
  
a:active {
    color: #5b555e;
    background-color: transparent;
    
}

h2 {
    color: #ceb6e2;
}

p {
    line-height: 200%;
    text-align: justify;
    font-size: 94%;
    color: #f2ecf8;
}

#box {
    border-radius: 15px;
    background: #1d1922;
    padding: 0px;
    width: 100%;
    height: min-content;
}

#box h2 {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

#box h3 {
    color:#755656;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

hr.dot {
    border: 4px dotted #2a2531;
    border-style: none none dotted;
    color: #1d1922; 
    background-color: #1d1922;
}

#box hr.dot{
    color:#2a2531;
    margin-left: 40px;
    margin-right: 40px;
}

#box p{
    color:#f2ecf8;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

text {
    color: #325f7e;
    font-family: Andale Mono;
    font-size: 90%;
    letter-spacing: -0.5px;
    padding: 0px 4px;
}

desc {
    font-size: 90%;
    color: #f5efef;
}

pt {
    color: #53e96c;
}

sl {
    color: #e3d6e9;
}

#top {
    margin:0 auto;
    display:block;
    padding: 10px 24px;
    border-radius: 15px;
    border: none;
    background-color: #1d1922;
    color: #755656;
    margin-bottom: 46px;
    cursor: pointer;
}

#top:active {
    color: #7e6b6b;
}

img {
    width: 87.6%;
    padding-left: 40px;
    padding-right: 40px;
    height: auto;
}

.dark-mode {
    background-color: black;
    color: white;
}

#dark {
    background-color: #f1ebe6;
    border: 1px solid #f1ebe6;
    border-radius: 15px;
    cursor: pointer;
}