body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Avenir Next;
    color: #000000;
    background-color: #f5f6fa;
}

@media (max-width: 800px) {
    body {
    margin-left: 4%;
    margin-right: 4%;
    font-family: Avenir Next;
    color: #000000;
    background-color: #f5f6fa;
    }
}

p {
    line-height: 200%;
    text-align: justify;
    font-size: 94%;
    color: #f2ecf8;
}

@media (max-width: 800px) {
    p {
    line-height: 200%;
    text-align: left;
    font-size: 70%;
    color: #f2ecf8;
    }
}

#box {
    border-radius: 12px;
    background: #ffffff;
    padding: 0px;
    width: 100%;
    height: min-content;
}

#box h2 {
    color: #000000;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
}

@media (max-width: 800px) {
    #box h2 {
    color: #000000;
    font-size: 108%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    }
}

#box h3 {
    color:#000000;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
}

hr {
    border: 1px solid #000000;
    border-style: none none dotted;
    color: #000000; 
    margin-left: 40px;
    margin-right: 0px;
}

#box hr {
    color:#211d27;
    margin-left: 40px;
    margin-right: 0px;
}

#box p{
    color:#000000;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
}

a:link {
    color: #1b75fc;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #1b75fc;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #1b75fc;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: #1b75fc;
    background-color: transparent;
}

text {
    color: #325f7e;
    font-family: Andale Mono;
    font-size: 90%;
    letter-spacing: -0.5px;
    padding: 0px 4px;
}

gris {
    color: #868686;
}
