body {
    margin-left: 15%;
    margin-right: 15%;
    font-family: Avenir Next;
    color: #000000;
    background-color: #edebf5;
}

nav {
    font-size: 40%;
    color:#000000;
    background-color: #ffffff;
    border-radius: 14px;
    padding: 12px;
    padding-left: 32px;
    padding-right: 32px;
    word-spacing: 26px;
}

nav a:link {
    color: #a5c6f8;
    background-color: transparent;
    text-decoration: none;
}

nav a:visited {
    color: #a5c6f8;
    background-color: transparent;
    text-decoration: none;
}

nav a:hover {
    color: #a5c6f8;
    background-color: transparent;
    text-decoration: none;
}
  
nav a:active {
    color: #a5c6f8;
    background-color: transparent;
}

h2 {
    color: #000000;
}

p {
    line-height: 200%;
    text-align: justify;
    font-size: 94%;
    color: #f2ecf8;
}

#box {
    border-radius: 14px;
    background: #ffffff;
    padding: 0px;
    width: 100%;
    height: min-content;
}

#box h2 {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

#box h3 {
    color:#ffffff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

hr {
    border: 1px solid #000000;
    border-style: none none dotted;
    color: #000000; 
    margin-left: 40px;
    margin-right: 40px;
}

#box hr {
    color:#211d27;
    margin-left: 40px;
    margin-right: 40px;
}

#box p{
    color:#000000;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
}

a:link {
    color: #347deb;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #347deb;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #347deb;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: #347deb;
    background-color: transparent;
}

text {
    color: #325f7e;
    font-family: Andale Mono;
    font-size: 90%;
    letter-spacing: -0.5px;
    padding: 0px 4px;
}

desc {
    font-size: 90%;
    color: #f5efef96;
}

pt {
    color: #53e96c;
}

sl {
    color: #347deb;
}

date {
    color: #868686;
}

gr {
    background-color: #edebf5;
    border-radius: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

#top {
    margin:0 auto;
    display:block;
    padding: 10px 24px;
    border-radius: 14px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 46px;
    cursor: pointer;
}

#top:active {
    color: #b5b3be;
}

img {
    padding-left: 40px;
    padding-right: 40px;
}
